build
tests
doc
*.log
*.tmp
.vscode
.github
pkg
dist
.node-version
playwright.config.js
vite.config.mts
.last-run.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
